{{template "header"}}
<h1>Success! Movie added/updated: </h1>
<h2><b>{{.Title}}</b> - <em>{{.Rating}}</em></h2>
<img class="poster-img" src={{.Poster}} alt="movie cover for {{.Title}}"/>
<ul>
  <li>Year: {{.Year}}</li>
  <li>Genre: {{.Genre}}</li>
  <li>Playtime: {{.Duration}}</li>
</ul>
<p>{{.Summary}}</p>
<a href="/movies">Overview</a>
{{template "footer"}}