{{template "header"}}
<h1>Welcome to Movie Database</h1>
<ul>
{{range .}}
    <li>
        {{.Title}} - 
        {{.Year}} - 
        {{.Rating}} - 
        <a href="/movies/show?id={{.ID}}">Show details</a>
        <a href="/movies/update?id={{.ID}}">update</a>  - 
        <a href="/movies/delete/process?id={{.ID}}">delete</a> 
    </li>
{{end}}
</ul>

<p class="link"><a href="/movies/create">Insert A Movie</a></p>
{{template "footer"}}